{% extends 'afloapp/layouts/main.html' %}

{% block content %}
    <h1>Hello from Afloapp!</h1>
    <p>Ici vous trouverez toutes les informations d'Aflokkat</p>
    {{request.user.username}} {% comment %} {%
        permet de récupérer et afficher la personne connectée
    %}{% endcomment %}
    {{request.user.is_authenticated}}
    {% if request.user.is_authenticated %}
    {{request.user.username}}
    {% endif %}
    


    {% comment %} {% for user in users %}
    <p>{{user.id}} - {{user.username}}</p>
    {% if user.username == "Quentin" %}
    <p>Gagné !</p>
    {% endif %}
    {% endfor %}
    {% if current_user.is_admin %}
    <a href="#" role="button">Admin</a>
    {% endif %} {% endcomment %}
{% endblock content %}